html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=nouser-scalable=no")
    // bootstrap css
    link(href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet")
    link(href="../less/layout.css" rel="stylesheet")
  body
    nav.navbar.navbar-default.navbar-fixed-top#banner(role="navigation")
      .container-fulid
        .nav-header
          a.navbar-brand(href="/") YOJ
        p.navbar-text Programming is an art
    
    block content
