doctype html
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1 user-scalable=nouser-scalable=no')
    title yejq online judge
    // Bootstrap
    link(href="{{static_url('css/bootstrap.min.css')}}", rel='stylesheet')
    link(href="{{static_url('css/login.css')}}", rel='stylesheet')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="{{static_url('js/jquery-2.1.1.min.js')}}")
    // Include all compiled plugins (below), or include individual files as needed
    script(src="{{static_url('js/bootstrap.min.js')}}")
  body
    nav#navigation.navbar.navbar-default.navbar-fixed-bottomnavbar-fixed-bottom(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Yejq Online Judge
        
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              block function
            li
              a.tooltip-test(href='http://yejq.sinaapp.com/', data-toggle='tooltip', data-placement='bottom', title='About') About

    //start main
    block content
    //end main
